body {
    color: #000000;
    font-family: 'Roboto', Helvetica, sans-serif;
    background:#FFFFFF;
    }


/* # En-tête # */

.logo {
     display: flex;
     margin-left: auto;
     margin-right: auto;
     margin-top: 20px;
     margin-bottom: 20px;
    }

/* # En-tête # */


/* # Principal # */

    /* Section recherche */
    #sectionRecherche {
        display: flex;
        justify-content: center;
        background: #EAEAEA;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding: auto;
        /* box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.3) inset; */
        box-shadow: inset 0px 8px 12px -14px #000000;
    }

    .fa-map-marker-alt {
        color: rgb(0, 0, 0);
        margin: 17px;
    }

    input {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: #000000;
        background: #EAEAEA;
        width: 150px;
        box-shadow: inset 0px 8px 12px -14px #000000;
        border: solid 0px;
        font-weight: medium;
        }
    /* Section recherche */


    /* Section titre, sous-titre, bouton */
    #sectionTitreSoustitreBouton {
        display: flex;
        justify-content: center;
        background: #F6F6F6;
        }

    .titre1 {
        margin: auto;
        font-size: 24px;
        font-weight: bold;
        padding-top:35px;
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        background: #F6F6F6;
        }

    .soustitre {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin: 35px;
        color:#696666;
        font-size: 17px;
        }

    .boutonRecherche {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color:#F6F6F6;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        width: 215px;
        height: 50px;
        background: -webkit-linear-gradient(#FF79DA, #9356DC);
        box-shadow: 0px 3px 10px -7px black;
        border-radius: 25px;
        border: solid 0px;
        cursor: pointer;
        }

    .boutonRecherche:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color:#F6F6F6;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        width: 215px;
        height: 50px;
        background: -webkit-linear-gradient(#FF79DA, #9d6cd8);
        /*box-shadow: 0px 4px 5px -2px black;*/
        box-shadow: 0px 3px 10px -5px black;
        border-radius: 25px;
        border: solid 0px;
        }
    /* Section titre, sous-titre, bouton */


    .titre2 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin: 0px;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        background: #ffffff;
        }


    /* Section fonctionnement */
    #sectionFonctionnement {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        background: #ffffff;
        padding-bottom: 50px;
        }

    .cercle1 {
        margin-left:-80px;
        color:#FFFFFF;
        
        /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
        width: 20px;
        border-radius: 50%;
        
        /* (B) BACKGROUND COLOR */ 
        background: #9356DC;
        
        /* (C) NECESSARY TO POSITION TEXT BLOCK */
        line-height: 0;
        position: relative;
    }
        
        /* (D) MATCH HEIGHT */
    .cercle1::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
        
        /* (E) TEXT BLOCK */
    .cercle1-txt {
        /* (E1) CENTER TEXT IN CIRCLE */
        position: absolute;
        bottom: 50%;
        width: 100%;
        text-align: center;
    }

    .fa-mobile {
        margin-left: 15px;
        margin-right: 15px;
        color: grey;
        font-size: 20px;
    }

    .cercle2 {
        margin-left:-86px;
        color:#FFFFFF;
        
        /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
        width: 20px;
        border-radius: 50%;
        
        /* (B) BACKGROUND COLOR */ 
        background: #9356DC;
        
        /* (C) NECESSARY TO POSITION TEXT BLOCK */
        line-height: 0;
        position: relative;
    }
        
        /* (D) MATCH HEIGHT */
    .cercle2::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
        
        /* (E) TEXT BLOCK */
    .cercle2-txt {
        /* (E1) CENTER TEXT IN CIRCLE */
        position: absolute;
        bottom: 50%;
        width: 100%;
        text-align: center;
    }

    .fa-list-ul {
        margin-left: 15px;
        margin-right: 15px;
        color: grey;
        font-size: 20px;
    }

    .cercle3 {
        margin-left:-78px;
        color:#FFFFFF;
        
        /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
        width: 20px;
        border-radius: 50%;
        
        /* (B) BACKGROUND COLOR */ 
        background: #9356DC;
        
        /* (C) NECESSARY TO POSITION TEXT BLOCK */
        line-height: 0;
        position: relative;
    }
        
        /* (D) MATCH HEIGHT */
    .cercle3::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
        
        /* (E) TEXT BLOCK */
    .cercle3-txt {
        /* (E1) CENTER TEXT IN CIRCLE */
        position: absolute;
        bottom: 50%;
        width: 100%;
        text-align: center;
    }

    .fa-store {
        margin-left: 15px;
        margin-right: 15px;
        color: grey;
        font-size: 20px;
    }

    .boutonFonctionnement {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: 300px;
        height: 73px;
        border: solid 0px;
        margin:10px;
        box-shadow: 0px 3px 10px -5px black;
        transition: 2s;
        cursor: pointer;
        }

    .boutonFonctionnement:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: 300px;
        height: 73px;
        border: solid 0px;
        margin:10px;
        box-shadow: 0px 3px 10px -5px black;
        background:#f0e7f8
        }

    .boutonFonctionnement:hover .fa-mobile {
        color:#9d6cd8;
        }

    .boutonFonctionnement:hover .fa-list-ul {
        color:#9d6cd8;
        }

    .boutonFonctionnement:hover .fa-store {
        color:#9d6cd8;
        }
    /* Section fonctionnement */


    .titre3 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin: 0px;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        background: #F6F6F6;
        }


    /* Section restaurants */
    #sectionRestaurants {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        text-align: left;
        background: #F6F6F6;
        font-weight: bold;
        padding-bottom:50px;
        }

    .cartesNouveau {
        background: #99E2D0;
        width: 55px;
        padding: 10px;
        border-radius: 2px;
        text-align: center;
        margin-top:-188px;
        margin-left:245px;
        position: absolute;
        font-weight: lighter;
        font-size: 14px;
        color: #335f55;
        }

    .cartesRestaurants {
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        width: 335px;
        height: 200px;
        margin:0;
    }        

    figure {
        margin:10px;
        border-radius: 15px 15px 15px 15px;
        background: #FFFFFF;
        width: 335px; 
        box-shadow: 0px 3px 10px -5px black;
    }

    figcaption {
        margin-left:10px;
        margin-top:10px;
        padding:0;
        height:30px;
    }

    .texteCarte {
        font-weight:normal;
        margin-top:0;
        margin-left:10px;
    }
    /* Section restaurants */

/* # Principal # */


/* # Section pied de page # */

.logoPiedDePage {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 10px;
    font-family: "Shrikhand", Helvetica, sans-serif;
}

#sectionPiedDePage {
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background: #3a3939;
}

.fa-utensils {
    margin-left:0px;
    margin-right:10px;
    text-align: left;
}

.fa-handshake {
    margin-left:0px;
    margin-right:10px;
    text-align: left;
}

.grasPiedDePage {
    margin:auto;
    font-weight: bold;
}

a.grasPiedDePage:link {
    text-decoration: none; 
    color: #FFFFFF;
}

a.grasPiedDePage:visited {
    text-decoration: none; 
    color: #FFFFFF;
}

a.normalPiedDePage:link {
    text-decoration: none; 
    color: #FFFFFF;
}

a.normalPiedDePage:visited {
    text-decoration: none; 
    color: #FFFFFF;
}

.normalPiedDePage {
    margin:auto;
    font-weight: normal;
}

ul {
list-style: none;
margin-bottom: 30px;
}

/* # Section pied de page # */


/* # Media queries # */

@media (max-width: 639px) {
.titre2 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    margin: 0px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 20px;
    font-size: 24px;
    font-weight: bold;
    background: #ffffff;
    }
.titre3 {
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: center;
    margin: 0px;
    padding-left: 20px;
    padding-top: 50px;
    padding-bottom: 10px;
    font-size: 24px;
    font-weight: bold;
    background: #F6F6F6;
    }
#sectionPiedDePage {
    color:#ffffff;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    text-align: left;
    background: #3a3939;
    font-weight: bold;
    padding-left:10px;
}
}

/* # Media queries # */


/* # Spinner # */

  .loading {
    display: flex;
    justify-content: center;
    align-items: center;
    position:fixed;
    top:0px;
    width: 100%;
    height: 100%;
    background-color: white;
    z-index: 1;
    animation: loader-disappear 500ms 3000ms forwards;
  }
  .fa-circle-notch {
    color: #9356DC;
    font-size:60px
  }
  @keyframes loader-disappear {
    0% {
        background-color: #9356DC;
    }
    25% {
        background-color: #FF79DA;
    }
    50% {
        background-color: #99E2D0;
    }
    100% {
        z-index: -1;
    }
  }

  /* # Spinner # */