body {
  color: #000000;
  font-family: 'Roboto', Helvetica, sans-serif;
  background: #F6F6F6;
  }
header {
  background: #FFFFFF;
  width:100%;
  max-width:810px;
  margin:auto;
  padding:1px;
}
a, a:hover, .a:focus, .a:active {
  color: #000000;
  text-decoration:none;
}

/* # En-tête # */
.logo {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
}
.fa-arrow-left {
 position: absolute;
 color: #000000;
 margin-top: -42px;
 margin-left: 25px;
}
/* # En-tête # */


/* # Animations # */

/* # Apparition progressive du menu # */
@keyframes card-appear {
  0% {
    transform: translateY(1150px);
    opacity: 0;
}
100% {
    transform: translateY(0px);
    opacity: 1;
}
}
/* # Spinner et chargement # */
@keyframes loader-disappear {
  0% {
      background-color: #9356DC;
  }
  100% {
      z-index: -1;
  }
}

/* Remplissage du coeur */
@keyframes fill {
  0% {
    transform: scale(0);

  }
    100% {
    transform: scale(1);
    }
}

/* # Animations # */

.menuMicroCartes {
  width: 93%;
  max-width:780px;
  height: 69px;
  border-radius: 15px;
  margin: auto;
  box-shadow: 0px 2px 9px -6px black;
  display: flex;
  overflow: hidden;
  position: relative;
  text-overflow: ellipsis;
  opacity: 0;
  animation: card-appear 1s cubic-bezier(0.45, 0.43, 0.26, 1) forwards;
  cursor: pointer;
        }
.element1 {
          animation-delay: 150ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:55px;
  /* loop to add delay at each card */
}
.element2 {
          animation-delay: 300ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.element3 {
          animation-delay: 450ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.element4 {
          animation-delay: 600ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:85px;
  /* loop to add delay at each card */
}
.element5 {
          animation-delay: 750ms;
          animation-delay: 600ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.element6 {
          animation-delay: 900ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.element7 {
          animation-delay: 1050ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:85px;
  /* loop to add delay at each card */
}
.element8 {
          animation-delay: 1200ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.element9 {
          animation-delay: 1350ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.laNoteEnchantee1 {
          animation-delay: 150ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:55px;
  /* loop to add delay at each card */
}
.laNoteEnchantee2 {
          animation-delay: 300ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.laNoteEnchantee3 {
          animation-delay: 450ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.laNoteEnchantee4 {
          animation-delay: 600ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.laNoteEnchantee5 {
          animation-delay: 750ms;
          animation-delay: 600ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:85px;
  /* loop to add delay at each card */
}
.laNoteEnchantee6 {
          animation-delay: 900ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.laNoteEnchantee7 {
          animation-delay: 1050ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.laNoteEnchantee8 {
          animation-delay: 1200ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:82px;
  /* loop to add delay at each card */
}
.laNoteEnchantee9 {
          animation-delay: 1350ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.laNoteEnchantee10 {
          animation-delay: 1350ms;
          margin-left:auto;
          margin-right:auto;
          margin-top:10px;
  /* loop to add delay at each card */
}
.menusDescription1 {
  width: 80%;
  transition: all 500ms;
  /* reduce the width when card hover */
  /* Dishes title */
  /* Dishes information */
}
.menusDescription2 {
  font-size: 18px;
  font-weight: 600;
  margin-top: 10px;
  margin-left: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.menusDescription3 {
  margin-top:10px;
  margin-left: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.effetDroite {
  display: flex;
  position: absolute;
  right: -60px;
  height: 100%;
  transition: transform 500ms ease-in-out, transform 500ms ease-in-out;
  /* option select appear with translation when card hover */
}
.menuMicroCartes:hover > .effetDroite {
          transform: translateX(-60px);
}
.menuMicroCartes:hover .fa-check-circle {
          transform: rotate(360deg);
}
.menuMicroCartes:hover > .menusDescription1 {
  width: calc(80% - 60px);
}
.prix {
  display: flex;
  align-self: flex-end;
  padding-bottom: 11px;
  width: 50px;
  font-weight:bold;
}

  /* Checkbox droite */
.checkboxDroite {
  background-color: #99E2D0;
  width: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0px 15px 15px 0px;
  height: 100%;
}

/* Effet sur l'icône à l'intérieur de la checkbox */
.fa-check-circle {
  font-size: 20px;
  color: white;
  transform: rotate(0deg);
  transition: transform 500ms ease-in-out, transform 500ms ease-in-out;
}

/* # Spinner # */
.loading {
  display: flex;
  justify-content: center;
  align-items: center;
  position:fixed;
  top:0px;
  width: 100%;
  height: 100%;
  background-color: #FFFFFF;
  z-index: 1;
  animation: loader-disappear 1s 2s forwards;
}
.fa-circle-notch {
  color: #FF79DA ;
  font-size:60px
}

/* # Principal # */

    /* Section recherche */
    #sectionRecherche {
        display: flex;
        justify-content: center;
        background: #EAEAEA;
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        box-shadow: inset 0px 8px 12px -14px #000000;
    }
    .fa-map-marker-alt {
        color: rgb(0, 0, 0);
        margin: 17px;
    }
    input {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        color: #000000;
        background: #EAEAEA;
        width: 150px;
        box-shadow: inset 0px 8px 12px -14px #000000;
        border: solid 0px;
        font-weight:normal;
        }
    /* Section titre, sous-titre, bouton */
    #sectionTitreSoustitreBouton {
        display: flex;
        justify-content: center;
        background: #F6F6F6;
        }
    .titre1 {
        margin: auto;
        padding-top:35px;
        font-size: 25px;
        font-weight: bold;
        text-align: center;
        background: #F6F6F6;
        }
    .soustitre {
        text-align: center;
        margin: 35px;
        color:#696666;
        font-size: 17px;
        }
    .boutonRecherche {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color:#F6F6F6;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        width: 215px;
        height: 50px;
        background: linear-gradient(#FF79DA, #9356DC);
        box-shadow: 0px 3px 10px -7px black;
        border-radius: 25px;
        border: solid 0px;
        cursor: pointer;
        }
    .boutonRecherche:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        color:#F6F6F6;
        font-weight: 400;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 60px;
        width: 215px;
        height: 50px;
        background: linear-gradient(#FF79DA, #9d6cd8);
        /*box-shadow: 0px 4px 5px -2px black;*/
        box-shadow: 0px 3px 10px -5px black;
        border-radius: 25px;
        border: solid 0px;
        }
    .titre2 {
        margin: auto;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        background: #ffffff;
        }
    /* Section fonctionnement */
    #sectionFonctionnement {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        background: #ffffff;
        padding-bottom: 50px;
        }
    .cercle1 {
        margin-left:-80px;
        color:#FFFFFF;
        
        /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
        width: 20px;
        border-radius: 50%;
        
        /* (B) BACKGROUND COLOR */ 
        background: #9356DC;
        
        /* (C) NECESSARY TO POSITION TEXT BLOCK */
        line-height: 0;
        position: relative;
    }
        /* (D) MATCH HEIGHT */
    .cercle1::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
        /* (E) TEXT BLOCK */
    .cercle1-txt {
        /* (E1) CENTER TEXT IN CIRCLE */
        position: absolute;
        bottom: 50%;
        width: 100%;
        text-align: center;
    }
    .fa-mobile {
        margin-left: 15px;
        margin-right: 15px;
        color: grey;
        font-size: 20px;
    }
    .cercle2 {
        margin-left:-86px;
        color:#FFFFFF;
        
        /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
        width: 20px;
        border-radius: 50%;
        
        /* (B) BACKGROUND COLOR */ 
        background: #9356DC;
        
        /* (C) NECESSARY TO POSITION TEXT BLOCK */
        line-height: 0;
        position: relative;
    }
        /* (D) MATCH HEIGHT */
    .cercle2::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
        /* (E) TEXT BLOCK */
    .cercle2-txt {
        /* (E1) CENTER TEXT IN CIRCLE */
        position: absolute;
        bottom: 50%;
        width: 100%;
        text-align: center;
    }
    .fa-list-ul {
        margin-left: 15px;
        margin-right: 15px;
        color: grey;
        font-size: 20px;
    }
    .cercle3 {
        margin-left:-78px;
        color:#FFFFFF;
        
        /* (A) PERCENTAGE WIDTH & BORDER RADIUS */
        width: 20px;
        border-radius: 50%;
        
        /* (B) BACKGROUND COLOR */ 
        background: #9356DC;
        
        /* (C) NECESSARY TO POSITION TEXT BLOCK */
        line-height: 0;
        position: relative;
    }       
        /* (D) MATCH HEIGHT */
    .cercle3::after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }       
        /* (E) TEXT BLOCK */
    .cercle3-txt {
        /* (E1) CENTER TEXT IN CIRCLE */
        position: absolute;
        bottom: 50%;
        width: 100%;
        text-align: center;
    }
    .fa-store {
        margin-left: 15px;
        margin-right: 15px;
        color: grey;
        font-size: 20px;
    }
    .boutonFonctionnement {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: 300px;
        height: 73px;
        border: solid 0px;
        margin:10px;
        box-shadow: 0px 3px 10px -5px black;
        transition: 2s;
        cursor: pointer;
        background:#F6F6F6;
        }
    .boutonFonctionnement:hover {
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 15px;
        width: 300px;
        height: 73px;
        border: solid 0px;
        margin:10px;
        box-shadow: 0px 3px 10px -5px black;
        background:#f0e7f8
        }
    .boutonFonctionnement:hover .fa-mobile {
        color:#9d6cd8;
        }
    .boutonFonctionnement:hover .fa-list-ul {
        color:#9d6cd8;
        }
    .boutonFonctionnement:hover .fa-store {
        color:#9d6cd8;
        }
    .titre3 {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        text-align: center;
        margin: 0px;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        background: #F6F6F6;
        }

    /* Section restaurants */
    #sectionRestaurants {
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        text-align: left;
        background: #F6F6F6;
        font-weight: bold;
        padding-bottom:50px;
        }
    .cartesRestaurants {
        width: 100%;
        object-fit: cover;
        border-radius: 15px 15px 0px 0px;
        height: 200px;
        margin:0;
        }        
    .cartesNouveau {
        background: #99E2D0;
        width: 55px;
        padding: 10px;
        border-radius: 2px;
        text-align: center;
        margin-top:-188px;
        margin-left:245px;
        position: absolute;
        font-weight: lighter;
        font-size: 14px;
        color: #335f55;
        }
    figure {
        width: 335px;
        border-radius: 15px 15px 15px 15px;
        background: #FFFFFF;
        box-shadow: 0px 3px 10px -5px black;
        }
    figcaption {
        width: 335px; 
        margin-left:10px;
        margin-top:10px;
        padding:0;
        height:60px;
        }
    .texteCarte {
        text-align: left;
        position: absolute;
        font-weight: normal;
        margin-top:-45px;
        margin-left:50px;
        }

    /* Coeur */
    .cartesCoeur1 {
        position: absolute;
        color: #000000;
        margin-left:290px;
        margin-top:15px;
        font-size: 25px;
        cursor: pointer;
        }
    .cartesCoeur1:hover > .cartesCoeur2 {
        animation: fill 500ms forwards;
        /* animation keyframe fill effect for heart */
    }
    .cartesCoeur2 {
        position: absolute;
        margin-top: 1px;
        left: 0px;
        font-weight: bold !important;

    /* Dégradé */
        background: linear-gradient(#9356DC, #FF79DA);
    /* Dégradé */

    /* Compatibilité Chrome */
        -webkit-background-clip: text;
    /* Compatibilité Chrome */

    /* Effet de remplissage */
        color: transparent;
        transform: scale(0);
    /* Effet de remplissage */
    }

    #menusImages {
      display: flex;
      width:100%;
      height:250px;
      max-width: 810px;
      max-height:550px;
      margin-top: 0px;
      margin-bottom: 0px;
      margin-left: auto;
      margin-right: auto;
      object-fit: cover;
    }
    #menusRestaurants {
        border-color: #F6F6F6;
        border-width:1px;
        border-style: solid;
        display: flex;
        justify-content: flex-start;
        text-align: left;
        background: #F6F6F6;
        padding-top: 80px;
        margin-top:-50px;
        max-width:809px;
        width:100%;
        border-radius: 30px 30px 0px 0px;
        position:relative;
        margin-left:auto;
        margin-right: auto;
    }
    #menusTitres {
        font-size: 25px;
        position: absolute;
        margin-top: -50px;
        margin-left:20px;
        margin-right: 10px;
        font-family: "Shrikhand", Helvetica, sans-serif;
    }
    .menusCoeurs1 {
      /* Coeur */
           position: absolute;
           color: #000000;
           margin-left:300px;
           margin-top:-50px;
           font-size: 25px;
           cursor: pointer;
       }
    .menusCoeurs1:hover > .menusCoeurs2 {
        animation: fill 500ms forwards;
    /* animation keyframe fill effect for heart */
    }
    .menusCoeurs2 {
        position: absolute;
        margin-top: 1px;
        left: 0px;
        font-weight: bold !important;

    /* Dégradé */
        background: linear-gradient(#9356DC, #FF79DA);
    /* Dégradé */

    /* Compatibilité Chrome */
        -webkit-background-clip: text;
    /* Compatibilité Chrome */

    /* Effet de remplissage */
        color: transparent;
        transform: scale(0);
    /* Effet de remplissage */
    }

    #entrees {
        position:absolute;
        font-size: 16px;
        margin-left: 20px;
        text-transform: uppercase;
        border-bottom: 2px solid #99E2D0;
        width: 40px;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    #plats {
        position:absolute;
        font-size: 16px;
        margin-left: 20px;
        text-transform: uppercase;
        border-bottom: 2px solid #99E2D0;
        width: 40px;
        padding-bottom: 10px;
        margin-top: 320px;
    }
    #platsLaNoteEnchantee {
        position:absolute;
        font-size: 16px;
        margin-left: 20px;
        text-transform: uppercase;
        border-bottom: 2px solid #99E2D0;
        width: 40px;
        padding-bottom: 10px;
        margin-top: 400px;   
    }
    #desserts {
        position:absolute;
        font-size: 16px;
        margin-left: 20px;
        text-transform: uppercase;
        border-bottom: 2px solid #99E2D0;
        width: 40px;
        padding-bottom: 10px;
        margin-top: 632px;
    }
    #dessertsLaNoteEnchantee {
      position:absolute;
      font-size: 16px;
      margin-left: 20px;
      text-transform: uppercase;
      border-bottom: 2px solid #99E2D0;
      width: 40px;
      padding-bottom: 10px;
      margin-top: 710px;
  }
    .menusCommander {
      display: flex;
      justify-content: center;
      align-items: center;
      flex-wrap: wrap;
      color:#F6F6F6;
      font-weight: 400;
      margin-left: auto;
      margin-right:auto;
      margin-top:40px;
      margin-bottom:50px;
      width: 215px;
      height: 50px;
      background: linear-gradient(#FF79DA, #9356DC);
      box-shadow: 0px 3px 10px -7px black;
      border-radius: 25px;
      border: solid 0px;
      cursor: pointer;
      }
    .menusCommander:hover {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    color:#F6F6F6;
    font-weight: 400;
    margin-left: auto;
    margin-right:auto;
    margin-top:40px;
    margin-bottom:50px;
    width: 215px;
    height: 50px;
    background: linear-gradient(#FF79DA, #9d6cd8);
    /*box-shadow: 0px 4px 5px -2px black;*/
    box-shadow: 0px 3px 10px -5px black;
    border-radius: 25px;
    border: solid 0px;
      }
/* # Principal # */

/* # Section pied de page # */
.logoPiedDePage {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 10px;
    font-family: "Shrikhand", Helvetica, sans-serif;
}
#sectionPiedDePage {
    color:#FFFFFF;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    background: #3a3939;
}
.logoPiedDePage {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 0px;
    margin-right: 10px;
    font-family: "Shrikhand", Helvetica, sans-serif;
}
.fa-utensils {
    margin-left:0px;
    margin-right:10px;
    text-align: left;
}
.fa-handshake {
    margin-left:0px;
    margin-right:10px;
    text-align: left;
}
.grasPiedDePage, .grasPiedDePage:hover, .grasPiedDePage:focus, .grasPiedDePage:active {
    margin:auto;
    font-weight: bold;
    color: #FFFFFF;
    text-decoration:none;
}
.normalPiedDePage, .normalPiedDePage:hover, .normalPiedDePage:focus, .normalPiedDePage:active {
    margin:auto;
    font-weight: normal;
    color: #FFFFFF;
    text-decoration:none;
}
ul {
    list-style: none;
    margin-bottom: 30px;
}
/* # Section pied de page # */

/* # Media queries # */
@media (max-width: 809px) {

    .titre2 {
        margin: auto;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 20px;
        font-size: 24px;
        font-weight: bold;
        text-align: left;
        background: #ffffff;
    }
    .titre3 {
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        text-align: center;
        margin: 0px;
        padding-left: 20px;
        padding-top: 50px;
        padding-bottom: 10px;
        font-size: 24px;
        font-weight: bold;
        background: #F6F6F6;
        }
    #sectionPiedDePage {
        color:#ffffff;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
        text-align: left;
        background: #3a3939;
        font-weight: bold;
        padding-left:10px;
    }
    .logoPiedDePage {
        margin-top: 20px;
        margin-bottom: 20px;
        margin-left: 0px;
        margin-right: 10px;
        font-family: "Shrikhand", Helvetica, sans-serif;
    }
  }
    @media (min-width: 320px) and (max-width: 374px){
        figure {
          width: 93%;
          border-radius: 15px 15px 15px 15px;
          background: #FFFFFF;
          box-shadow: 0px 3px 10px -5px black;
          max-width: 300px;
        }
        .cartesNouveau {
          background: #99E2D0;
          width: 55px;
          padding: 10px;
          border-radius: 2px;
          text-align: center;
          margin-top: -188px;
          margin-left: 215px;
          position: absolute;
          font-weight: lighter;
          font-size: 14px;
          color: #335f55;
        }
        .cartesCoeur1 {
          position: absolute;
          color: #000000;
          margin-left: 250px;
          margin-top: 15px;
          font-size: 25px;
          cursor: pointer;
        }
        .menusCoeurs1 {
          position: absolute;
          color: #000000;
          margin-left: 270px;
          margin-top: -50px;
          font-size: 25px;
          cursor: pointer;
        }
  }
    /* # Media queries # */